default-public/testing_nifi.snapshot
{
  "header" : {
    "dataModelVersion" : "3"
  },
  "content" : {
    "flowSnapshot" : {
      "externalControllerServices" : {
        "08414a3c-43a8-32cd-a0de-03440ab0b054" : {
          "identifier" : "08414a3c-43a8-32cd-a0de-03440ab0b054",
          "name" : "DBCPConnectionPoolToProxxmoxHAPg"
        }
      },
      "flowContents" : {
        "comments" : "",
        "componentType" : "PROCESS_GROUP",
        "connections" : [ {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "8dc0e914-84eb-3098-9018-a68100946951",
            "id" : "4e20255b-e1b3-3dc6-ad61-bf5cdbd633ba",
            "name" : "EvaluateJsonPath",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "8dc0e914-84eb-3098-9018-a68100946951",
          "identifier" : "e37dc529-858b-3131-b1e7-38ec0772cda3",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "split" ],
          "source" : {
            "comments" : "",
            "groupId" : "8dc0e914-84eb-3098-9018-a68100946951",
            "id" : "50b0611d-1117-3501-ada2-4057d0109f29",
            "name" : "SplitJson",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ {
            "x" : 883.0,
            "y" : 599.0
          } ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "8dc0e914-84eb-3098-9018-a68100946951",
            "id" : "7f216862-dfae-32e1-a22d-21b8c3149798",
            "name" : "LogMessage",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "8dc0e914-84eb-3098-9018-a68100946951",
          "identifier" : "078e64ed-e006-3cf9-a9e5-a3a902e768c1",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "failure" ],
          "source" : {
            "comments" : "",
            "groupId" : "8dc0e914-84eb-3098-9018-a68100946951",
            "id" : "19c9ce22-3751-376b-9dbe-0a1663ca4619",
            "name" : "ExecuteSQLRecord",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "8dc0e914-84eb-3098-9018-a68100946951",
            "id" : "19c9ce22-3751-376b-9dbe-0a1663ca4619",
            "name" : "ExecuteSQLRecord",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "8dc0e914-84eb-3098-9018-a68100946951",
          "identifier" : "c136a2f6-db88-36aa-8d7b-3564a13f489d",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "matched" ],
          "source" : {
            "comments" : "",
            "groupId" : "8dc0e914-84eb-3098-9018-a68100946951",
            "id" : "4e20255b-e1b3-3dc6-ad61-bf5cdbd633ba",
            "name" : "EvaluateJsonPath",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "8dc0e914-84eb-3098-9018-a68100946951",
            "id" : "7f216862-dfae-32e1-a22d-21b8c3149798",
            "name" : "LogMessage",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "8dc0e914-84eb-3098-9018-a68100946951",
          "identifier" : "54e47739-ec6b-3958-b7b0-d90e44ecf5eb",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "8dc0e914-84eb-3098-9018-a68100946951",
            "id" : "19c9ce22-3751-376b-9dbe-0a1663ca4619",
            "name" : "ExecuteSQLRecord",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ {
            "x" : 975.0,
            "y" : 155.0
          } ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "8dc0e914-84eb-3098-9018-a68100946951",
            "id" : "7f216862-dfae-32e1-a22d-21b8c3149798",
            "name" : "LogMessage",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "8dc0e914-84eb-3098-9018-a68100946951",
          "identifier" : "6db6b663-8b38-3899-a00a-714ff354963b",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "failure" ],
          "source" : {
            "comments" : "",
            "groupId" : "8dc0e914-84eb-3098-9018-a68100946951",
            "id" : "ca92fe73-8ee8-3e12-a8cd-7f002104fb2c",
            "name" : "ExecuteSQLRecord",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "8dc0e914-84eb-3098-9018-a68100946951",
            "id" : "a99eff25-ceb1-3565-984a-3fd1fa65c71e",
            "name" : "LogAttribute",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "8dc0e914-84eb-3098-9018-a68100946951",
          "identifier" : "2aa6d07e-246e-3d02-8f5c-38bd1bd17a1f",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "8dc0e914-84eb-3098-9018-a68100946951",
            "id" : "7f216862-dfae-32e1-a22d-21b8c3149798",
            "name" : "LogMessage",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "8dc0e914-84eb-3098-9018-a68100946951",
            "id" : "7f216862-dfae-32e1-a22d-21b8c3149798",
            "name" : "LogMessage",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "8dc0e914-84eb-3098-9018-a68100946951",
          "identifier" : "07d5a48d-5b44-3f1a-9683-3ee43a7501ba",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "failure" ],
          "source" : {
            "comments" : "",
            "groupId" : "8dc0e914-84eb-3098-9018-a68100946951",
            "id" : "50b0611d-1117-3501-ada2-4057d0109f29",
            "name" : "SplitJson",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "8dc0e914-84eb-3098-9018-a68100946951",
            "id" : "7f216862-dfae-32e1-a22d-21b8c3149798",
            "name" : "LogMessage",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "8dc0e914-84eb-3098-9018-a68100946951",
          "identifier" : "4f492f77-f7f4-3cbd-b3c0-14ddcbd0bf83",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "failure" ],
          "source" : {
            "comments" : "",
            "groupId" : "8dc0e914-84eb-3098-9018-a68100946951",
            "id" : "4e20255b-e1b3-3dc6-ad61-bf5cdbd633ba",
            "name" : "EvaluateJsonPath",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "8dc0e914-84eb-3098-9018-a68100946951",
            "id" : "50b0611d-1117-3501-ada2-4057d0109f29",
            "name" : "SplitJson",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "8dc0e914-84eb-3098-9018-a68100946951",
          "identifier" : "7b8e64fb-1986-32b7-8383-7458b8b06587",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "8dc0e914-84eb-3098-9018-a68100946951",
            "id" : "ca92fe73-8ee8-3e12-a8cd-7f002104fb2c",
            "name" : "ExecuteSQLRecord",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        } ],
        "controllerServices" : [ {
          "bundle" : {
            "artifact" : "nifi-record-serialization-services-nar",
            "group" : "org.apache.nifi",
            "version" : "1.12.1"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.12.1"
            },
            "type" : "org.apache.nifi.serialization.RecordSetWriterFactory"
          } ],
          "groupIdentifier" : "8dc0e914-84eb-3098-9018-a68100946951",
          "identifier" : "35519ec3-b9e9-3b42-940b-bbd53a6bcca6",
          "name" : "JsonRecordSetWriter",
          "properties" : {
            "compression-level" : "1",
            "Pretty Print JSON" : "false",
            "compression-format" : "none",
            "Schema Write Strategy" : "no-schema",
            "suppress-nulls" : "never-suppress",
            "output-grouping" : "output-array",
            "schema-name" : "${schema.name}",
            "schema-access-strategy" : "inherit-record-schema",
            "schema-protocol-version" : "1",
            "schema-text" : "${avro.schema}"
          },
          "propertyDescriptors" : {
            "schema-branch" : {
              "displayName" : "Schema Branch",
              "identifiesControllerService" : false,
              "name" : "schema-branch",
              "sensitive" : false
            },
            "compression-level" : {
              "displayName" : "Compression Level",
              "identifiesControllerService" : false,
              "name" : "compression-level",
              "sensitive" : false
            },
            "schema-cache" : {
              "displayName" : "Schema Cache",
              "identifiesControllerService" : true,
              "name" : "schema-cache",
              "sensitive" : false
            },
            "Timestamp Format" : {
              "displayName" : "Timestamp Format",
              "identifiesControllerService" : false,
              "name" : "Timestamp Format",
              "sensitive" : false
            },
            "Date Format" : {
              "displayName" : "Date Format",
              "identifiesControllerService" : false,
              "name" : "Date Format",
              "sensitive" : false
            },
            "Pretty Print JSON" : {
              "displayName" : "Pretty Print JSON",
              "identifiesControllerService" : false,
              "name" : "Pretty Print JSON",
              "sensitive" : false
            },
            "compression-format" : {
              "displayName" : "Compression Format",
              "identifiesControllerService" : false,
              "name" : "compression-format",
              "sensitive" : false
            },
            "Schema Write Strategy" : {
              "displayName" : "Schema Write Strategy",
              "identifiesControllerService" : false,
              "name" : "Schema Write Strategy",
              "sensitive" : false
            },
            "suppress-nulls" : {
              "displayName" : "Suppress Null Values",
              "identifiesControllerService" : false,
              "name" : "suppress-nulls",
              "sensitive" : false
            },
            "output-grouping" : {
              "displayName" : "Output Grouping",
              "identifiesControllerService" : false,
              "name" : "output-grouping",
              "sensitive" : false
            },
            "schema-name" : {
              "displayName" : "Schema Name",
              "identifiesControllerService" : false,
              "name" : "schema-name",
              "sensitive" : false
            },
            "schema-registry" : {
              "displayName" : "Schema Registry",
              "identifiesControllerService" : true,
              "name" : "schema-registry",
              "sensitive" : false
            },
            "Time Format" : {
              "displayName" : "Time Format",
              "identifiesControllerService" : false,
              "name" : "Time Format",
              "sensitive" : false
            },
            "schema-access-strategy" : {
              "displayName" : "Schema Access Strategy",
              "identifiesControllerService" : false,
              "name" : "schema-access-strategy",
              "sensitive" : false
            },
            "schema-protocol-version" : {
              "displayName" : "Schema Protocol Version",
              "identifiesControllerService" : false,
              "name" : "schema-protocol-version",
              "sensitive" : false
            },
            "schema-version" : {
              "displayName" : "Schema Version",
              "identifiesControllerService" : false,
              "name" : "schema-version",
              "sensitive" : false
            },
            "schema-text" : {
              "displayName" : "Schema Text",
              "identifiesControllerService" : false,
              "name" : "schema-text",
              "sensitive" : false
            }
          },
          "type" : "org.apache.nifi.json.JsonRecordSetWriter"
        } ],
        "flowFileConcurrency" : "UNBOUNDED",
        "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
        "funnels" : [ ],
        "identifier" : "8dc0e914-84eb-3098-9018-a68100946951",
        "inputPorts" : [ ],
        "labels" : [ ],
        "name" : "Testing NiFi",
        "outputPorts" : [ ],
        "position" : {
          "x" : 3216.0,
          "y" : 1232.0
        },
        "processGroups" : [ ],
        "processors" : [ {
          "autoTerminatedRelationships" : [ ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.12.1"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "8dc0e914-84eb-3098-9018-a68100946951",
          "identifier" : "7f216862-dfae-32e1-a22d-21b8c3149798",
          "name" : "LogMessage",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 1142.0,
            "y" : 284.0
          },
          "properties" : {
            "log-level" : "info"
          },
          "propertyDescriptors" : {
            "log-message" : {
              "displayName" : "Log message",
              "identifiesControllerService" : false,
              "name" : "log-message",
              "sensitive" : false
            },
            "log-level" : {
              "displayName" : "Log Level",
              "identifiesControllerService" : false,
              "name" : "log-level",
              "sensitive" : false
            },
            "log-prefix" : {
              "displayName" : "Log prefix",
              "identifiesControllerService" : false,
              "name" : "log-prefix",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.LogMessage",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "success" ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.12.1"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "8dc0e914-84eb-3098-9018-a68100946951",
          "identifier" : "a99eff25-ceb1-3565-984a-3fd1fa65c71e",
          "name" : "LogAttribute",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 1784.0,
            "y" : 312.0
          },
          "properties" : {
            "Log prefix" : "[XX] someXXX [packFilename: ${filename}]",
            "character-set" : "UTF-8",
            "Log Level" : "warn",
            "attributes-to-log-regex" : ".*",
            "Log Payload" : "true"
          },
          "propertyDescriptors" : {
            "Log prefix" : {
              "displayName" : "Log prefix",
              "identifiesControllerService" : false,
              "name" : "Log prefix",
              "sensitive" : false
            },
            "character-set" : {
              "displayName" : "Character Set",
              "identifiesControllerService" : false,
              "name" : "character-set",
              "sensitive" : false
            },
            "Log Level" : {
              "displayName" : "Log Level",
              "identifiesControllerService" : false,
              "name" : "Log Level",
              "sensitive" : false
            },
            "attributes-to-ignore-regex" : {
              "displayName" : "Attributes to Ignore by Regular Expression",
              "identifiesControllerService" : false,
              "name" : "attributes-to-ignore-regex",
              "sensitive" : false
            },
            "Attributes to Ignore" : {
              "displayName" : "Attributes to Ignore",
              "identifiesControllerService" : false,
              "name" : "Attributes to Ignore",
              "sensitive" : false
            },
            "Attributes to Log" : {
              "displayName" : "Attributes to Log",
              "identifiesControllerService" : false,
              "name" : "Attributes to Log",
              "sensitive" : false
            },
            "attributes-to-log-regex" : {
              "displayName" : "Attributes to Log by Regular Expression",
              "identifiesControllerService" : false,
              "name" : "attributes-to-log-regex",
              "sensitive" : false
            },
            "Log Payload" : {
              "displayName" : "Log Payload",
              "identifiesControllerService" : false,
              "name" : "Log Payload",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.LogAttribute",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "unmatched" ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.12.1"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "8dc0e914-84eb-3098-9018-a68100946951",
          "identifier" : "4e20255b-e1b3-3dc6-ad61-bf5cdbd633ba",
          "name" : "EvaluateJsonPath",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 400.0,
            "y" : 568.0
          },
          "properties" : {
            "Destination" : "flowfile-content",
            "Return Type" : "auto-detect",
            "lastProccesedFileId" : "$.last_preccesed_id",
            "Null Value Representation" : "empty string",
            "Path Not Found Behavior" : "ignore"
          },
          "propertyDescriptors" : {
            "Destination" : {
              "displayName" : "Destination",
              "identifiesControllerService" : false,
              "name" : "Destination",
              "sensitive" : false
            },
            "Return Type" : {
              "displayName" : "Return Type",
              "identifiesControllerService" : false,
              "name" : "Return Type",
              "sensitive" : false
            },
            "lastProccesedFileId" : {
              "displayName" : "lastProccesedFileId",
              "identifiesControllerService" : false,
              "name" : "lastProccesedFileId",
              "sensitive" : false
            },
            "Null Value Representation" : {
              "displayName" : "Null Value Representation",
              "identifiesControllerService" : false,
              "name" : "Null Value Representation",
              "sensitive" : false
            },
            "Path Not Found Behavior" : {
              "displayName" : "Path Not Found Behavior",
              "identifiesControllerService" : false,
              "name" : "Path Not Found Behavior",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.EvaluateJsonPath",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "original" ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.12.1"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "8dc0e914-84eb-3098-9018-a68100946951",
          "identifier" : "50b0611d-1117-3501-ada2-4057d0109f29",
          "name" : "SplitJson",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 392.0,
            "y" : 264.0
          },
          "properties" : {
            "Null Value Representation" : "empty string",
            "JsonPath Expression" : "$.*"
          },
          "propertyDescriptors" : {
            "Null Value Representation" : {
              "displayName" : "Null Value Representation",
              "identifiesControllerService" : false,
              "name" : "Null Value Representation",
              "sensitive" : false
            },
            "JsonPath Expression" : {
              "displayName" : "JsonPath Expression",
              "identifiesControllerService" : false,
              "name" : "JsonPath Expression",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.SplitJson",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.12.1"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "PRIMARY",
          "groupIdentifier" : "8dc0e914-84eb-3098-9018-a68100946951",
          "identifier" : "ca92fe73-8ee8-3e12-a8cd-7f002104fb2c",
          "name" : "ExecuteSQLRecord",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 400.0,
            "y" : 64.0
          },
          "properties" : {
            "esql-max-rows" : "0",
            "esql-output-batch-size" : "0",
            "esql-fetch-size" : "0",
            "SQL select query" : "select last_preccesed_id from public.nifi_process_runs order by id DESC LIMIT 1",
            "esqlrecord-record-writer" : "35519ec3-b9e9-3b42-940b-bbd53a6bcca6",
            "Max Wait Time" : "0 seconds",
            "Database Connection Pooling Service" : "08414a3c-43a8-32cd-a0de-03440ab0b054",
            "dbf-user-logical-types" : "false",
            "esqlrecord-normalize" : "false"
          },
          "propertyDescriptors" : {
            "sql-pre-query" : {
              "displayName" : "SQL Pre-Query",
              "identifiesControllerService" : false,
              "name" : "sql-pre-query",
              "sensitive" : false
            },
            "esql-max-rows" : {
              "displayName" : "Max Rows Per Flow File",
              "identifiesControllerService" : false,
              "name" : "esql-max-rows",
              "sensitive" : false
            },
            "esql-output-batch-size" : {
              "displayName" : "Output Batch Size",
              "identifiesControllerService" : false,
              "name" : "esql-output-batch-size",
              "sensitive" : false
            },
            "esql-fetch-size" : {
              "displayName" : "Fetch Size",
              "identifiesControllerService" : false,
              "name" : "esql-fetch-size",
              "sensitive" : false
            },
            "SQL select query" : {
              "displayName" : "SQL select query",
              "identifiesControllerService" : false,
              "name" : "SQL select query",
              "sensitive" : false
            },
            "esqlrecord-record-writer" : {
              "displayName" : "Record Writer",
              "identifiesControllerService" : true,
              "name" : "esqlrecord-record-writer",
              "sensitive" : false
            },
            "Max Wait Time" : {
              "displayName" : "Max Wait Time",
              "identifiesControllerService" : false,
              "name" : "Max Wait Time",
              "sensitive" : false
            },
            "Database Connection Pooling Service" : {
              "displayName" : "Database Connection Pooling Service",
              "identifiesControllerService" : true,
              "name" : "Database Connection Pooling Service",
              "sensitive" : false
            },
            "sql-post-query" : {
              "displayName" : "SQL Post-Query",
              "identifiesControllerService" : false,
              "name" : "sql-post-query",
              "sensitive" : false
            },
            "dbf-user-logical-types" : {
              "displayName" : "Use Avro Logical Types",
              "identifiesControllerService" : false,
              "name" : "dbf-user-logical-types",
              "sensitive" : false
            },
            "esqlrecord-normalize" : {
              "displayName" : "Normalize Table/Column Names",
              "identifiesControllerService" : false,
              "name" : "esqlrecord-normalize",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "60 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.ExecuteSQLRecord",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.12.1"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "8dc0e914-84eb-3098-9018-a68100946951",
          "identifier" : "19c9ce22-3751-376b-9dbe-0a1663ca4619",
          "name" : "ExecuteSQLRecord",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 400.0,
            "y" : 912.0
          },
          "properties" : {
            "esql-max-rows" : "0",
            "esql-output-batch-size" : "0",
            "esql-fetch-size" : "0",
            "SQL select query" : "select * from public.file where id > '${last_preccesed_id}'",
            "esqlrecord-record-writer" : "35519ec3-b9e9-3b42-940b-bbd53a6bcca6",
            "Max Wait Time" : "0 seconds",
            "Database Connection Pooling Service" : "08414a3c-43a8-32cd-a0de-03440ab0b054",
            "dbf-user-logical-types" : "false",
            "esqlrecord-normalize" : "false"
          },
          "propertyDescriptors" : {
            "sql-pre-query" : {
              "displayName" : "SQL Pre-Query",
              "identifiesControllerService" : false,
              "name" : "sql-pre-query",
              "sensitive" : false
            },
            "esql-max-rows" : {
              "displayName" : "Max Rows Per Flow File",
              "identifiesControllerService" : false,
              "name" : "esql-max-rows",
              "sensitive" : false
            },
            "esql-output-batch-size" : {
              "displayName" : "Output Batch Size",
              "identifiesControllerService" : false,
              "name" : "esql-output-batch-size",
              "sensitive" : false
            },
            "esql-fetch-size" : {
              "displayName" : "Fetch Size",
              "identifiesControllerService" : false,
              "name" : "esql-fetch-size",
              "sensitive" : false
            },
            "SQL select query" : {
              "displayName" : "SQL select query",
              "identifiesControllerService" : false,
              "name" : "SQL select query",
              "sensitive" : false
            },
            "esqlrecord-record-writer" : {
              "displayName" : "Record Writer",
              "identifiesControllerService" : true,
              "name" : "esqlrecord-record-writer",
              "sensitive" : false
            },
            "Max Wait Time" : {
              "displayName" : "Max Wait Time",
              "identifiesControllerService" : false,
              "name" : "Max Wait Time",
              "sensitive" : false
            },
            "Database Connection Pooling Service" : {
              "displayName" : "Database Connection Pooling Service",
              "identifiesControllerService" : true,
              "name" : "Database Connection Pooling Service",
              "sensitive" : false
            },
            "sql-post-query" : {
              "displayName" : "SQL Post-Query",
              "identifiesControllerService" : false,
              "name" : "sql-post-query",
              "sensitive" : false
            },
            "dbf-user-logical-types" : {
              "displayName" : "Use Avro Logical Types",
              "identifiesControllerService" : false,
              "name" : "dbf-user-logical-types",
              "sensitive" : false
            },
            "esqlrecord-normalize" : {
              "displayName" : "Normalize Table/Column Names",
              "identifiesControllerService" : false,
              "name" : "esqlrecord-normalize",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.ExecuteSQLRecord",
          "yieldDuration" : "1 sec"
        } ],
        "remoteProcessGroups" : [ ],
        "variables" : { }
      },
      "flowEncodingVersion" : "1.0",
      "parameterContexts" : { }
    }
  }
}